#http://linux-tips.org/t/prevent-modem-manager-to-capture-usb-serial-devices/284/2.

#sudo cp *.rules /etc/udev/rules.d/
#sudo udevadm control --reload-rules
#sudo udevadm trigger

// pui_node
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ATTRS{serial}=="FT5WJ8BL", ENV{ID_MM_DEVICE_IGNORE}="1", MODE="666", SYMLINK+="pui_dynamixel"

// pui_teleop
KERNEL=="event[0-9]*", SUBSYSTEM=="input", ATTRS{name}=="js0", ACTION=="add", SYMLINK+="logitech_f710", MODE="666"