#http://linux-tips.org/t/prevent-modem-manager-to-capture-usb-serial-devices/284/2.

#sudo cp *.rules /etc/udev/rules.d/
#sudo udevadm control --reload-rules
#sudo udevadm trigger

// motor driver  //masterATTRS{serial}=="FT5NSN1N"
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ENV{ID_MM_DEVICE_IGNORE}="1", MODE="666", SYMLINK+="pui_dynamixel"

// pui_teleop (controller)
// KERNEL=="event[0-9]*", SUBSYSTEM=="input", ATTRS{name}=="js0", ACTION=="add", SYMLINK+="logitech_f710", MODE="666"
// ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c21f", SUBSYSTEM=="input", MODE="666", SYMLINK+="pui_joy"

// pui_uwb
ATTRS{idVendor}=="2341", ATTRS{idProduct}=="005e", ATTRS{serial}=="497215501C729C48", ENV{ID_MM_DEVICE_IGNORE}="1", MODE="666", SYMLINK+="pui_uwb"

// perception
ATTRS{idVendor}=="2639", ATTRS{idProduct}=="0300", ATTRS{serial}=="DB1E7E2P", MODE="666", SYMLINK+="pui_imu"
