#sudo cp *.rules /etc/udev/rules.d/
#sudo udevadm control --reload-rules
#sudo udevadm trigger

// controller
ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c21f", SUBSYSTEM=="input", MODE="666", SYMLINK+="pui_joy"

// perception
ATTRS{idVendor}=="2639", ATTRS{idProduct}=="0300", ATTRS{serial}=="DB1E7E2P", MODE="666", SYMLINK+="pui_imu"

// motor driver
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ATTRS{serial}=="FT4TCUHH", MODE="666", SYMLINK+="pui_driver"